.address{
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px gray solid;
    width: 230px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  
 