.section {
  padding: 70px;
  font-weight: 400;
  max-width: 1320px;
  margin: 0 auto;
}

@media (max-width: 820px) {
  .section {
    padding: 50px;
  }
}

@media (max-width: 550px) {
  .section {
    padding: 30px;
  }
}

.title {
  font-weight: 600;
  margin: 0;
  margin-bottom: 60px;
  font-size: 40px;
  color: #9d9d9c;
}

@media (max-width: 550px) {
  .title {
    font-size: 20px;
    line-height: 22px;
  }
}
