.intro {
  width: 50%;
}

.about {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sign {
  font-size: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.link {
  text-decoration: none;
  color: grey;
}

@media (max-width: 820px) {
  .intro {
    width: 100%;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .sign {
    display: none;
  }
  

}
