.footer {
  background-color: rgba(248, 249, 250,1) !important;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.link{
    text-decoration: none;
    color: gray;
}
